@model List<StefansSuperShop.ViewModels.MenuItem>

<ul class="section-tab-nav tab-nav">
    @foreach (var item in Model)
    {
        <li @(item.IsActive ?  "class=active" : "")><a asp-controller="@item.Controller" asp-action="@item.Action">@item.Text</a></li>
    }
</ul>