@page
@model StefansSuperShop.Pages.Admin.Category.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Categories</h4>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Categories.CategoryName" class="control-label"></label>
                    <input asp-for="Categories.CategoryName" class="form-control" />
                    <span asp-validation-for="Categories.CategoryName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Categories.Description" class="control-label"></label>
                    <textarea rows="5" asp-for="Categories.Description" class="form-control" style="resize: none;"></textarea>
                    <span asp-validation-for="Categories.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Categories.ImageUrl" class="control-label"></label>
                    <input asp-for="Categories.ImageUrl" class="form-control" />
                    <span asp-validation-for="Categories.ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
