@page
@model StefansSuperShop.Pages.Admin.Category.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Category Details</h2>

<div class="container">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Category Name:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categories.CategoryName)
        </dd>
        <dt>
            Description:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categories.Description)
        </dd>
        <dt>
           Image URL:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categories.ImageUrl)
        </dd>
    </dl>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Categories.CategoryId" class="btn btn-primary">Edit</a> |
    <a asp-page="./Index" class="btn btn-danger">Back</a>
</div>
