@page
@model StefansSuperShop.Pages.Admin.CreateNewsletterModel


<div class="container">
	<h2>Create New Newsletter</h2>
  <form method="post" action="ProcessSentNewsletter.cshtml">
    <div>
        <input type="text" name="email-subject" placeholder="Enter a subject here"/>
    </div>

    <div>
        Newsletter <br />
        <textarea name="email-body" cols="45" rows="4" placeholder="Enter the newsletter body here"></textarea>
    </div>

    <div>
        <input type="submit" value="Send Newsletter" />
    </div>
  </form>
</div>