@page
@model StefansSuperShop.Pages.Admin.CreateNewsletterModel



<div class="container">
	<h2>Create New Newsletter</h2>
  <form method="post">
    <div>
        <input type="text" name="email-subject" placeholder="Enter a subject here"/>
    </div>

    <div>
        Newsletter <br />
        <textarea name="email-body" cols="45" rows="4" placeholder="Enter the newsletter body here"></textarea>
    </div>

    <div>
        <input type="submit" value="Send Newsletter" />
    </div>
  </form>

   @if(Model.emailSucceeded) {
      <p>The newsletter was sent out successfully.</p>
    }

    else if (Model.emailFailed) {
        <p><b>The email was <em>not</em> sent.</b></p>
        <p>Please check that the code in the ProcessRequest page has 
           correct settings for the SMTP server name, a user name, 
           a password, and a "from" address.
        </p>
        @*TODO: remove second part?*@
    }

</div>