@page
@model StefansSuperShop.Pages.Admin.IndexModel
@{
}
<div clas="container">
    <div class="row">
        <div class="col-sm-12 col-md-10">
            <a href="/Admin/Products" class="p-5 m-5">Products</a>
            <a href="/Admin/Category">Category</a>
        </div>
    </div>
</div>