@page
@model StefansSuperShop.Pages.Admin.IndexModel
@{
}

<div clas="container">

    <h2>Admin</h2>

    <hr />
    <div class="row">
        <div class="col-sm-12 col-md-10">
            <a href="/Admin/Products" class="btn btn-primary">Products</a>
            <a href="/Admin/Category" class="btn btn-primary">Category</a>
        </div>
    </div>
</div>