@page
@model StefansSuperShop.Pages.Admin.IndexModel
@{
}

<div class="container">
	<ul>
	<li>
		<a href="/Admin/Products">Products</a>
		</li>
	<li>
		<a href="/Admin/Newsletters">Newsletters</a>
		</li>
</ul>
</div>



