@page
@model StefansSuperShop.Pages.Admin.NewslettersModel
@{
}
<div class="container">
    <h1>Handle Newsletters</h1>

    <ul>
        <li>
            <a href="/Admin/CreateNewsletter">CreateNewsletter</a>
        </li>
        <li>
            <a href="/Admin/SavedNewsletters">SavedNewsletters</a>
        </li>
        <li>
            <a href="/Admin/SentNewsletters">SentNewsletters</a>
        </li>
    </ul>   
</div>
