@page
@model StefansSuperShop.Pages.Admin.ProcessSentNewsletterModel
@{
    var subject = Request.Form["email-subject"].ToString();
    var body = Request.Form["email-body"].ToString(); 
    var debuggingFlag = false;

    var statusCode = Model.SendEmail(subject, body);
}

<div class="container">

    @*@if(statusCode.IsCompletedSuccessfully){
      <p>The newsletter was sent out successfully.</p>
    }

    else{
        <p><b>The email was <em>not</em> sent.</b></p>
        <p>Please check that the code in the ProcessRequest page has 
           correct settings for the SMTP server name, a user name, 
           a password, and a "from" address.
        </p>
        @*TODO: remove second part?*@
    }
</div>
